<div class="connection-tester-report">

    <h1>{{'CONNTEST.SECTION_HEADER_RESULTS' | translate}}</h1>

    <!-- Connection test progress -->
    <div class="connection-tester-progress" ng-show="isRunning()">
        <span translate="CONNTEST.INFO_TESTING_SERVER"
              translate-values="{ CURRENT: getCurrentServer(), TOTAL: getTotalServers() }"></span>
    </div>

    <!-- Connection testing results -->
    <table class="results">
        <thead>
            <tr>
                <th>{{'CONNTEST.TABLE_HEADER_SERVER' | translate}}</th>
                <th>{{'CONNTEST.TABLE_HEADER_URL' | translate}}</th>
                <th>{{'CONNTEST.TABLE_HEADER_RESULT' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-class="{
                    'pending'  : !result.complete,
                    'quality0' : result.niceness === 0,
                    'quality1' : result.niceness === 1,
                    'quality2' : result.niceness === 2,
                    'quality3' : result.niceness === 3,
                    'quality4' : result.niceness === 4
                }"
                ng-repeat="result in results | orderBy: [
                    'niceness',
                    'roundTripStatistics.median',
                    'roundTripStatistics.medianAbsoluteDeviation',
                    'name'
                ]">
                <td class="server-name">
                    <img class="flag-icon" ng-show="result.server.country"
                         ng-src="app/ext/conntest/flags/{{result.server.country}}.png"
                         alt="{{result.server.country}}"/>
                    {{result.name}}
                </td>
                <td class="server-url"><a ng-href="{{result.server.url}}">{{result.server.url}}</a></td>
                <td class="server-result">

                    <!-- Final result statistics, available only when result is complete -->
                    <span ng-show="result.complete">

                        <!-- Round trip time statistics (if server is available) -->
                        <span ng-show="result.roundTripStatistics">
                              {{result.roundTripStatistics.median | number: 0}} ms
                            ± {{result.roundTripStatistics.medianAbsoluteDeviation | number: 0}}
                        </span>

                        <!-- Server unavailable warning -->
                        <span ng-hide="result.roundTripStatistics">
                            {{'CONNTEST.INFO_SERVER_UNAVAILABLE' | translate}}
                        </span>

                    </span>

                    <!-- Test result pending -->
                    <span ng-hide="result.complete">
                        {{'CONNTEST.INFO_SERVER_TEST_PENDING' | translate}}
                    </span>

                </td>
            </tr>
        </tbody>
    </table>

</div>