<div class="connection-tester-report">

    <h1>Guacamole Connection Tester</h1>

    <!-- Connection testing results -->
    <table class="results">
        <thead>
            <tr>
                <th>Location</th>
                <th>URL</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-class="'quality' + result.niceness" ng-repeat="result in results | orderBy: [
                    'niceness',
                    'roundTripStatistics.average',
                    'roundTripStatistics.standardDeviation'
                ]">
                <td class="server-location">
                    <img class="flag-icon" ng-show="result.server.country"
                         ng-src="app/ext/conntest/flags/{{result.server.country}}.png"
                         alt="{{result.server.country}}"/>
                    San Francisco
                </td>
                <td class="server-url"><a ng-href="{{result.server.url}}">{{result.server.url}}</a></td>
                <td class="server-rtt">

                    <!-- Round trip time statistics (if server is available) -->
                    <span ng-show="result.roundTripStatistics">
                          {{result.roundTripStatistics.average | number: 0}} ms
                        ± {{result.roundTripStatistics.standardDeviation | number: 0}}
                    </span>

                    <!-- Server unavailable warning -->
                    <span ng-hide="result.roundTripStatistics">Unavailable</span>

                </td>
            </tr>
        </tbody>
    </table>

</div>