<div class="connection-tester-report">

    <h1>{{'CONNTEST.SECTION_HEADER_RESULTS' | translate}}</h1>

    <!-- Connection testing results -->
    <table class="results">
        <thead>
            <tr>
                <th>{{'CONNTEST.TABLE_HEADER_SERVER' | translate}}</th>
                <th>{{'CONNTEST.TABLE_HEADER_URL' | translate}}</th>
                <th>{{'CONNTEST.TABLE_HEADER_RESULT' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-class="'quality' + result.niceness" ng-repeat="result in results | orderBy: [
                    'niceness',
                    'roundTripStatistics.median',
                    'roundTripStatistics.medianAbsoluteDeviation'
                ]">
                <td class="server-name">
                    <img class="flag-icon" ng-show="result.server.country"
                         ng-src="app/ext/conntest/flags/{{result.server.country}}.png"
                         alt="{{result.server.country}}"/>
                    {{result.name}}
                </td>
                <td class="server-url"><a ng-href="{{result.server.url}}">{{result.server.url}}</a></td>
                <td class="server-result">

                    <!-- Round trip time statistics (if server is available) -->
                    <span ng-show="result.roundTripStatistics">
                          {{result.roundTripStatistics.median | number: 0}} ms
                        ± {{result.roundTripStatistics.medianAbsoluteDeviation | number: 0}}
                    </span>

                    <!-- Server unavailable warning -->
                    <span ng-hide="result.roundTripStatistics">
                        {{'CONNTEST.INFO_SERVER_UNAVAILABLE' | translate}}
                    </span>

                </td>
            </tr>
        </tbody>
    </table>

</div>