<div class="connection-tester-recommendation" ng-show="isVisible()">

    <!-- Close button -->
    <button class="close" ng-click="ignore()">X</button>

    <!-- Help text -->
    <p>{{'CONNTEST.HELP_BETTER_SERVER' | translate}}</p>

    <!-- Recommendation details -->
    <table>
        <tr>
            <td class="server-name">
                <img class="flag-icon" ng-show="recommendation.server.country"
                     ng-src="app/ext/conntest/flags/{{recommendation.server.country}}.png"
                     alt="{{recommendation.server.country}}"/>
                {{recommendation.name}}
            </td>
            <td class="server-url">
                <a ng-href="{{recommendation.server.url}}">{{recommendation.server.url}}</a>
            </td>
        </tr>
    </table>

</div>