/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.connection-tester .connection-tester-progress-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    background: white;
}

.connection-tester .connection-tester-progress-outer .connection-tester-progress-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.connection-tester .connection-tester-welcome {
    width: 80%;
    max-width: 8in;
    margin: 0 auto;
}

.connection-tester .connection-tester-welcome p {
    text-align: left;
}

.connection-tester .connection-tester-progress {
    position: relative;
    padding: 0.25em;
    text-align: center;
    font-style: italic;
    opacity: 0.75;
    border: 1px solid black;
    width: 80%;
    max-width: 4in;
    margin: 0 auto;
}

.connection-tester .connection-tester-progress .connection-tester-progress-bar {
    position: absolute;
    background: blue;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    -webkit-transition: width 0.0625s;
    -moz-transition:    width 0.0625s;
    -ms-transition:     width 0.0625s;
    -o-transition:      width 0.0625s;
    transition:         width 0.0625s;
}

.connection-tester .connection-tester-report a.permalink {
    display: block;
    padding: 1em;
    text-align: right;
}

.connection-tester .connection-tester-report .server-name img.flag-icon {
    box-sizing: content-box;
    max-width: 24px;
    margin: 0 0.25em;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.connection-tester .connection-tester-report .server-name,
.connection-tester .connection-tester-report .server-result,
.connection-tester .connection-tester-report .server-url {
    white-space: nowrap;
}

.connection-tester .connection-tester-report .server-url {
    padding-right: 2em;
    font-family: monospace;
}

.connection-tester .connection-tester-report table.results {
    margin: 1em auto;
    border-collapse: collapse;
}

.connection-tester .connection-tester-report table.results thead {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.connection-tester .connection-tester-report table.results th,
.connection-tester .connection-tester-report table.results td {
    padding: 0.5em 1em;
}

/*
 * Use white text if the background of a server result is relatively dark.
 */

.connection-tester .connection-tester-report table.results tr.dark .server-result {
    color: white;
}

/*
 * Completely unreachable server.
 */

.connection-tester .connection-tester-report table.results tr.pending .server-result {
    font-style: italic;
    opacity: 0.75;
}

/*
 * Highlight the best server.
 */

.connection-tester .connection-tester-report table.results tbody tr:first-child {
    font-weight: bold;
    border: 1px solid black;
}
