/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.connection-tester .connection-tester-progress {
    text-align: center;
    font-style: italic;
    opacity: 0.75;
}

.connection-tester .connection-tester-report .server-name img.flag-icon {
    box-sizing: content-box;
    max-width: 24px;
    margin: 0 0.25em;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.connection-tester .connection-tester-report .server-url {
    white-space: nowrap;
    padding-right: 2em;
}

.connection-tester .connection-tester-report table.results {
    margin: 1em auto;
    border-collapse: collapse;
}

.connection-tester .connection-tester-report table.results thead {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.connection-tester .connection-tester-report table.results th,
.connection-tester .connection-tester-report table.results td {
    padding: 0.5em 1em;
}

/*
 * Server with excellent latency.
 */

.connection-tester .connection-tester-report table.results tr.quality0 .server-result {
    background: rgba(64, 192, 0, 0.5);
}

/*
 * Server with good latency.
 */

.connection-tester .connection-tester-report table.results tr.quality1 .server-result {
    background: rgba(192, 192, 0, 0.5);
}

/*
 * Server with poor (but tolerable) latency.
 */

.connection-tester .connection-tester-report table.results tr.quality2 .server-result {
    background: rgba(192, 128, 0, 0.5);
}

/*
 * Server with extremely poor latency.
 */

.connection-tester .connection-tester-report table.results tr.quality3 .server-result {
    background: rgba(192, 0, 0, 0.5);
}

/*
 * Completely unreachable server.
 */

.connection-tester .connection-tester-report table.results tr.quality4 .server-result {
    background: black;
    color: white;
}

/*
 * Completely unreachable server.
 */

.connection-tester .connection-tester-report table.results tr.pending .server-result {
    font-style: italic;
    opacity: 0.75;
}

/*
 * Highlight the best server if it has reasonable latency.
 */

.connection-tester .connection-tester-report table.results tbody tr:first-child.quality0,
.connection-tester .connection-tester-report table.results tbody tr:first-child.quality1,
.connection-tester .connection-tester-report table.results tbody tr:first-child.quality2 {
    font-weight: bold;
    border: 1px solid black;
}
